.flexparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 62px;
}
.unordered {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 51px;
  align-items: center;
}
.list {
  color: #ffffff;
  width: 78px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 800px) {
  .gone {
    display: none;
  }
  .list {
    font-size: 30px;
  }
  .unordered {
    gap: 120px;
  }
}
