.flexcont {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: -300px;
  margin-left: -500px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: left;

  color: #ffffff;
}
.paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  text-align: right;

  color: #7691b5;
}
.subimg {
  margin-top: -110px;
  margin-left: 350px;
}
@media only screen and (max-width: 800px) {
  .subimg {
    margin-top: -90px;
    margin-left: 350px;
    height: 500px;
    margin-bottom: 300px;
  }
}
